.slider-container {
    display: flex;
    width: 380px;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .slider-container {
        width: 250px;
    }
}
