.simulator-container {
  align-items: center;
  background-color: #1348A0;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
  padding: 40px;
  width: 450px;
}

h1 {
    margin: 0 0 50px 0;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fee-container {
  align-items: center;
  background-color: #0F3B85;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: space-around;
  padding: 5px;
  width: 100%;
}

.fee-amount {
  font-weight: bold;
  font-size: 34px;
  margin: 0;
}

.fee-title {
  font-weight: bold;
  margin: 0;
}
