.flex-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .title-label {
        font-size: 14px;
    }
}
